<ngb-alert *ngIf="mensagemDisciplinaErro" type="error" (close)="mensagemDisciplinaErro = null">{{ mensagemDisciplinaErro }}</ngb-alert>
<form [formGroup]="disciplinaEditarForm" class="form mt-4" (submit)="editarDisciplina()">
    <div class="row" style="position: relative;">
            <div class="col">
                    <h2 class="text-center">{{tituloEdicaoDisciplina}}</h2>
            </div>
            
            <div class="col-md-2 mt-2 float-right">    
                        <button
                        type="button"
                        (click)="botaoVoltar();"
                        class="btn btn-block">
                        Voltar
                        </button>     
            </div>
        </div>
    <div class="form-group">
        <div class="form-row align-items-center justify-content-start ">
            <div class="col">
                    <label for="nomeDisciplinaInput">Nome</label>
                    <input
                        formControlName="nome"
                        type="text"
                        id="nomeDisciplinaInput"
                        class="form-control"
                        placeholder="Nome do disciplina"
                        autofocus>  
            </div>
            <div class="col ml-4">
                <div class="row">
                    <label for="teoricaDisciplinaInput">Aula teórica?</label>
                </div> 
                <div class="row">
                    <label class="checkbox-inline mr-3"><input 
                        formControlName="teorica"
                        type="radio" 
                        [(ngModel)]="teorica"
                        [checked]="teorica"
                        [value]="true">
                        Sim
                    </label>
                    <label class="checkbox-inline"><input 
                        formControlName="teorica"
                        type="radio" 
                        [(ngModel)]="teorica"
                        [checked]="!teorica"
                        [value]="false"
                        checked>
                        Não
                    </label>

                </div>          
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row align-items-center justify-content-start">
            
            <div class="col">
                <div class="form-group">
                    <label for="instrumentoDisciplinaInput">Instrumento</label>
                    <select
                        id="instrumentoDisciplinaInput"
                        formControlName="instrumento"
                        class="form-control">  
                        <option *ngFor="let instrumento of instrumentos" value= {{instrumento.id}}>
                            {{instrumento.nome}}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="col">
                <label for="frequenciaMinimaDisciplinaInput">Frequencia Mínima</label>
                <input
                    formControlName="frequenciaMinima"
                    id="frequenciaMinimaDisciplinaInput"
                    type="text "
                    class="form-control"
                    placeholder="em %">
            
            </div>

            <div class="col-5">
                <label for="notaMinimaDisciplinaInput">Nota Mínima</label>
                <input
                    formControlName="notaMinima"
                    id="notaMinimaDisciplinaInput"
                    type="text "
                    class="form-control"
                    placeholder="1 a 10">
            </div>    
           
        </div>
    </div>


    <div class="form-row">
        <div class="col">
                <button
                *ngIf="isDisciplinaEdicao"
                type="button"
                data-toggle="modal" data-target="#confirmarExclusaoDisciplinaModal"
                class="btn btn-danger btn-block">
                    Excluir
                </button>
        </div>
        <div class="col">
                <button
                    type="submit"
                    class="btn btn-primary btn-block">
                    {{labelBotaoEdicaoDisciplina}}
                </button>
            </div>
    </div>

    <!-- Modal De exclusão-->
<div class="modal fade" id="confirmarExclusaoDisciplinaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Exclusão de Disciplina</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               Deseja realmente excluir o disciplina?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
              <button type="button" (click)="excluirDisciplina();" class="btn btn-primary" data-dismiss="modal">Sim</button>
            </div>
          </div>
        </div>
      </div>

</form>

