

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alunoEdicaoModal">
  Adicionar Aluno
</button>


<!-- Modal -->
<div class="modal fade" id="alunoEdicaoModal" tabindex="-1" role="dialog" aria-labelledby="alunoEdicaoModalLabel" aria-hidden="true" data-dismiss="modal" #closeAddExpenseModal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alunoEdicaoModalLabel">Cadastro de Aluno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form [formGroup]="alunoEdicaoForm" class="form mt-4" (submit)="enviarEdicao()">
          
              <div class="form-group">
                  <label for="nomeAlunoInput">Nome</label>
                  <input
                      formControlName="nome"
                      type="text"
                      id="nomeAlunoInput"
                      class="form-control"
                      placeholder="Nome do aluno"
                      autofocus>  
              </div>

              <div class="form-group">
                <div class="form-row align-items-center justify-content-start">
                    <div class="col mr-4">
                        <label for="telefoneAlunoInput">Telefone</label>
                        <input
                            formControlName="telefone"
                            id="telefoneAlunoInput"
                            type="text "
                            class="form-control"
                            placeholder="Telefone">
                    </div> 
                    
                    <div class="col">
                      
                      <mat-form-field>
                        <label for="nascimentoAlunoInput">Data de nascimento</label>
                        <input matInput id="nascimentoAlunoInput" formControlName="nascimento" [matDatepicker]="nascimento" placeholder="">
                        <mat-datepicker-toggle  matSuffix [for]="nascimento"></mat-datepicker-toggle>
                        <mat-datepicker #nascimento ></mat-datepicker>
                      </mat-form-field>
                    </div>
                   
                    <div class="col">

                    </div> 
                </div>
              </div>

              <div class="form-group">
                  <div class="form-row align-items-center">
                      <div class="col mr-4">
                        <div class="form-group">
                            <label for="instrumentoAlunoInput">Instrumento</label>
                            <input
                                formControlName="instrumento"
                                type="email"
                                class="form-control"
                                placeholder="Instrumento do aluno">
                        </div>
                      </div>
                
                    <div class="col">
                        <div class="form-group">
                            
                          <mat-form-field >
                            <label for="inicioPlanoAlunoInput">Data de início do plano</label>
                            <input matInput id="inicioPlanoAlunoInput" formControlName="inicioPlano" [matDatepicker]="inicioPlano" placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="inicioPlano"></mat-datepicker-toggle>
                            <mat-datepicker #inicioPlano ></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    
                    <div class="col">
                        <div class="form-group">
                            
                          <mat-form-field >
                            <label for="fimPlanoAlunoInput">Data de fim do plano</label>
                            <input matInput id="fimPlanoAlunoInput" formControlName="fimPlano" [matDatepicker]="fimPlano" placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="fimPlano"></mat-datepicker-toggle>
                            <mat-datepicker #fimPlano ></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                </div>

              <div class="form-row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="enderecoAlunoInput">Endereço</label>
                        <input
                          id="enderecoAlunoInput"
                            formControlName="endereco"
                            type="text"
                            class="form-control"
                            placeholder="Endereço">  
                      </div>
                </div> 
                <div class="col">
                    <div class="form-group">
                        <label for="cepAlunoInput">CEP</label>
                      <input
                          id="cepAlunoInput"
                          formControlName="cep"
                          type="text"
                          class="form-control"
                          placeholder="CEP">  
                    </div>
                </div>                
              </div>

              <div class="form-group">
                  <label for="nomeResponsavelAlunoInput">Nome do Responsável</label>
                <input
                    id="nomeResponsavelAlunoInput"
                    formControlName="nomeResponsavel"
                    type="text"
                    class="form-control"
                    placeholder="Nome do responsável">  
              </div>
              
              <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="cpfResponsavelAlunoInput">CPF do Responsável</label>
                      <input
                          id="cpfResponsavelAlunoInput"
                          formControlName="cpfResponsavel"
                          type="text"
                          class="form-control"
                          placeholder="CPF do responsável">  
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="rgResponsavelAlunoInput">RG do Responsável</label>
                      <input
                          id="rgResponsavelAlunoInput"
                          formControlName="rgResponsavel"
                          type="text"
                          class="form-control"
                          placeholder="Rg do responsável">  
                    </div>
                </div>
              </div>
 
              <button
              
                  type="submit"
                  class="btn btn-primary btn-block">
                  cadastrar
              </button>
          
          </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
