<div class="row mb-3">
  <div class="col-sm-8">
    <div class="form-group-row ">
        <form class="form-inline">
            <input  
            (keyup)="buscarTexto = $event.target.value" 
            name="buscarTexto" class="form-control  col-sm-8 mr-1" 
            type="search" placeholder="Filtrar Disciplina" aria-label="Search">
          </form>
    </div>
  </div>

  <div class="col-sm">
      <a routerLink="/nova-disciplina">
        <button id="editar-disciplina-button" type="button" class="btn btn-primary">
            Adicionar Disciplina
        </button>
      </a>
    </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">
        <div class="banzos-th">
            <a id="nomeDisciplinaSort" class="banzos-th" (click)="ordenarDisciplinas('nome')">
                Nome  <span [ngSwitch]="arrayDisciplinaSort['nome']">
                        <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                        <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                        <i *ngSwitchDefault class="fas fa-sort"></i>
                </span>
            </a>
        </div> 
      </th>    
      <th scope="col">
        <div class="banzos-th">
            <a id="tipoDisciplinaSort" class="banzos-th" (click)="ordenarDisciplinas('teorica')">
              <span class="pl-2 pr-1">Tipo</span> <span [ngSwitch]="arrayDisciplinaSort['teorica']">
                        <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                        <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                        <i *ngSwitchDefault class="fas fa-sort"></i>
                </span>
            </a>
        </div> 
      </th>    
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>

        <tr *ngFor="let disciplina of disciplinas | filter : buscarTexto">
            <th scope="row">{{disciplina.id}}</th>
              <td>{{disciplina.nome}}</td>
              <td *ngIf="disciplina.teorica">
                  <h5><span class="badge badge-pill badge-teorica">Teórica</span></h5>
              </td>
              <td *ngIf="!disciplina.teorica">
                  <h5><span class="badge badge-pill badge-pratica">Prática</span></h5>
              </td>
              <td> 
                  <a routerLink="/disciplina/{{disciplina.id}}">
                    
                      <i class="material-icons">
                        edit
                        </i>
                  </a>
              </td>
          </tr>
 
   
  </tbody>
</table>