.badge-teorica {
    background-color: #7D5E5B;
    color: white
  }

.badge-pratica {
    background-color: #AAB089;
    color: white
}


.banzos-th{
    a{
        color: white;
    }
    a:hover{
        text-decoration:none;
        color: #F3F781;
        cursor: pointer;
    }

}