<div class="row mb-3">
  <div class="col-sm-8">
    <div class="form-group-row ">
        <form class="form-inline">
            <input  
            (keyup)="buscarTexto = $event.target.value" 
            name="buscarTexto" class="form-control  col-sm-8 mr-1" 
            type="search" placeholder="Filtrar Aluno" aria-label="Search">
          </form>
    </div>
  </div>

  <div class="col-sm">
      <a routerLink="/novo-aluno">
        <button id="editar-aluno-button" type="button" class="btn btn-primary">
            Adicionar Aluno
        </button>
      </a>
    </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>  
      <th scope="col">
        <div class="banzos-th">
            <a id="nomeAlunoSort" class="banzos-th" href="#" (click)="ordenarAlunos('nome')">
                Nome  <span [ngSwitch]="arrayAlunoSort['nome']">
                        <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                        <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                        <i *ngSwitchDefault class="fas fa-sort"></i>
                </span>
            </a>
        </div> 
      </th>    
      <th scope="col">
          <div class="banzos-th">
              <a class="banzos-th" href="#" (click)="ordenarAlunos('instrumento')">
                  Instrumento  <span [ngSwitch]="arrayAlunoSort['instrumento']">
                    <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                    <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                    <i *ngSwitchDefault class="fas fa-sort"></i>
            </span>
                </a>
          </div> 
      </th>
      <th scope="col">
          <div class="banzos-th">
              <a class="banzos-th" href="#" (click)="ordenarAlunos('nascimento')">
                  Idade  <span [ngSwitch]="arrayAlunoSort['nascimento']">
                    <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                    <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                    <i *ngSwitchDefault class="fas fa-sort"></i>
            </span>
                </a>
          </div> 
      </th>
      <th scope="col">
          <div class="banzos-th">
              <a class="banzos-th" href="#" (click)="ordenarAlunos('inicioPlano')">
                  Início  <span [ngSwitch]="arrayAlunoSort['inicioPlano']">
                    <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                    <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                    <i *ngSwitchDefault class="fas fa-sort"></i>
            </span>
                </a>
          </div> 
      </th>
      <th scope="col">
          <div class="banzos-th">
              <a class="banzos-th" href="#" (click)="ordenarAlunos('fimPlano')">
                  Fim  <span [ngSwitch]="arrayAlunoSort['fimPlano']">
                    <i *ngSwitchCase="1" class="fas fa-sort-up"></i>
                    <i *ngSwitchCase="0" class="fas fa-sort-down"></i>
                    <i *ngSwitchDefault class="fas fa-sort"></i>
            </span>
                </a>
          </div> 
      </th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let aluno of alunos | filter : buscarTexto">
        <th scope="row">{{aluno.id}}</th>
        <td>{{aluno.nome}}</td>
        <td>{{nomeInstrumento(aluno.instrumento)}}</td>
        <td>{{buscarIdade(aluno.nascimento)}}</td>
        <td>{{extrairData(aluno.inicioPlano) | date:'dd/MM/yyyy'}}</td>
        <td>{{extrairData(aluno.fimPlano) | date:'dd/MM/yyyy'}}</td>
        <td> 
            <a routerLink="/aluno/{{aluno.id}}">
              
                <i class="material-icons">
                  edit
                  </i>
            </a>
        </td>
    </tr>
 
   
  </tbody>
</table>