<div class="row mb-3">
  <div class="col-sm-8">
    <div class="form-group-row ">
        <form class="form-inline">
            <input  
            (keyup)="buscarTexto = $event.target.value" 
            name="buscarTexto" class="form-control  col-sm-8 mr-1" 
            type="search" placeholder="Filtrar Aluno" aria-label="Search">
          </form>
    </div>
  </div>

  <div class="col-sm">
      <a routerLink="/novo-aluno">
        <button id="editar-aluno-button" type="button" class="btn btn-primary">
            Adicionar Aluno
        </button>
      </a>
    </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">instrumento</th>
      <th scope="col">Idade</th>
      <th scope="col">Início do Plano</th>
      <th scope="col">Fim do Plano</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>

        <tr *ngFor="let aluno of alunos | filter : buscarTexto">
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.instrumento}}</td>
            <td>{{buscarIdade(aluno.nascimento)}}</td>
            <td>{{aluno.inicioPlano | date:'dd/MM/yyyy'}}</td>
            <td>{{aluno.fimPlano | date:'dd/MM/yyyy'}}</td>
            <td> 
                <a routerLink="/aluno/{{aluno.id}}">
                  <span class="glyphicon">&#x270f;</span>
                </a>
            </td>
          </tr>
 
   
  </tbody>
</table>